<app-layout>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Curso - {{operacao}}</h5>
            <div class="row">
                <div class="form-group col-12">
                    <label for="nome" class="control-label">Nome:</label>
                    <input type="text" class="form-control" [(ngModel)]="curso.nome" />
                </div>
                <div class="form-group col-12">
                    <label for="nome" class="control-label">Instrutor:</label>
                    <input type="text" class="form-control" [(ngModel)]="curso.instrutor" />
                </div>
                <div class="form-group col-12">
                    <label for="nome" class="control-label">Local:</label>
                    <input type="text" class="form-control" [(ngModel)]="curso.local" />
                </div>
                <div class="form-group col-6">
                    <label for="nome" class="control-label">Carga Horaria:</label>
                    <input type="number" class="form-control" [(ngModel)]="curso.cargaHoraria" />
                </div>
                <div class="form-group col-6">
                    <label for="nome" class="control-label">Data Início:</label>
                    <input type="date" class="form-control" [(ngModel)]="curso.dataInicio" />
                </div>
            </div>
            <div class="row">

                <div class="col-12">
                    <button  *ngIf="operacao == 'Incluir'" type="button" class="btn btn-primary" style="margin-right: 10px;" (click)="incluir()">Incluir</button>
                    <button  *ngIf="operacao == 'Alterar'" type="button"  class="btn btn-primary" style="margin-right: 10px;" (click)="alterar()">Alterar</button>
                    <button type="button" class="btn btn-primary" style="margin-right: 10px;" (click)="voltar()">Voltar</button>
                </div>

            </div>
        </div>
    </div>
</app-layout>