
<app-layout>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Curso</h5>
            <div class="row">
                <div class="form-group col-12">
                    <label for="nome" class="control-label">Nome:</label>
                    <input type="text"  class="form-control" [(ngModel)]="nome"/>
                    
                </div>
            </div>
            <div class="row" style="margin-bottom: 20px;">
                <div class="col-12">
                    <button type="button" class="btn btn-primary" (click)="pesquisar()">Pesquisar</button>
                </div>
            </div>

            <div class="row">

                <div class="col-lg-12">

                    <table class="table">

                        <thead>
                            <tr>

                                <th></th>
                                <th>codigo</th>
                                <th>nome</th>
                                <th>cargaHoraria</th>
                                <th>dataInicio</th>
                                <th>instrutor</th>
                                <th>local</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let curso of listaCurso">

                                <th><input type="radio" name="selecionado" (change)="selecionar(curso)">  </th>
                                <td>{{curso.codigo}}</td>
                                <td>{{curso.nome}}</td>
                                <td>{{curso.cargaHoraria}}</td>
                                <td>{{curso.dataInicio | date: 'dd/MM/yyyy'}}</td>
                                <td>{{curso.instrutor}}</td>
                                <td>{{curso.local}}</td>
                            </tr>
                        </tbody>

                    </table>

                </div>

            </div>

            <div class="row" style="margin-bottom: 20px;">
                <div class="col-12">
                    <button type="button" class="btn btn-primary" style="margin-right: 10px;"  (click)="incluir()">Incluir</button>
                    <button type="button" class="btn btn-primary" style="margin-right: 10px;"  (click)="alterar()">Alterar</button>
                    <button type="button" class="btn btn-primary" style="margin-right: 10px;"  (click)="excluir()">Excluir</button>
                </div>
            </div>




        </div>

    </div>

</app-layout>


