
<app-layout>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Produto - {{operacao}}</h5>
            <div class="row">
                <div class="form-group col-12">
                    <label for="nome" class="control-label">Nome:</label>
                    <input type="text" class="form-control" [(ngModel)]="produto.nome" />
                </div>
                <div class="form-group col-12">
                    <label for="nome" class="control-label">Descrição:</label>
                    <input type="text" class="form-control" [(ngModel)]="produto.descricao" />
                </div>
                <div class="form-group col-12">
                    <label for="nome" class="control-label">Valor:</label>
                    <input type="number" class="form-control" [(ngModel)]="produto.valor" /> 
                </div>
                <div class="form-group col-12">
                    <label for="nome" class="control-label">Observação:</label>
                    <input type="text" class="form-control" [(ngModel)]="produto.obs" />
                </div>
               
            </div>
            <div class="row">

                <div class="col-12">
                    <button  *ngIf="operacao == 'Incluir'" type="button" class="btn btn-outline-success" style="margin-right: 10px;" (click)="incluir()">Incluir</button>
                    <button  *ngIf="operacao == 'Alterar'" type="button" class="btn btn-outline-success" style="margin-right: 10px;" (click)="alterar()">Alterar</button>
                    <button type="button" class="btn btn-outline-success" style="margin-right: 10px;" (click)="voltar()">Voltar</button>
                </div>

            </div>
        </div>
    </div>
</app-layout>